.pipe {
  position: absolute;
  background: linear-gradient(90deg, #2ecc71, #27ae60);
  border: 3px solid #229954;
  z-index: 5;
}

.pipe-top {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pipe-bottom {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.pipe::before {
  content: '';
  position: absolute;
  left: -5px;
  right: -5px;
  height: 30px;
  background: linear-gradient(90deg, #27ae60, #229954);
  border: 3px solid #1e8449;
  border-radius: 5px;
}

.pipe-top::before {
  bottom: -3px;
}

.pipe-bottom::before {
  top: -3px;
}
